.email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

#forgotMailInput {
    width: 30rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submitFP"] {
    width: 255px;
    height: 50px;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px 50px;
    background-color: #399b89;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#errorMessage {
    color: red;
    font-size: 18px;
    margin-bottom: 10px;
}

#successMessage {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}
